<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="static/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="static/paper.js" type="text/javascript" charset="utf-8"></script>
        <script src="static/main.js" type="text/javascript" charset="utf-8"></script>
        <script src="static/gfx.js" type="text/paperscript" charset="utf-8" canvas="canvas"></script>
        <style type="text/css" media="screen">
            body {
                margin: 0px;
                padding: 0px;
                overflow-x: hidden;
                overflow-y: hidden;
            }
            canvas {
                background: #000;
            }
            img {
                display:none;
            }
        </style>
        <title>supraspace</title>
    </head>
    <body>
        <canvas id=canvas resize></canvas>
        <img id=ship_1 src="/static/ship.png" />
    </body>
</html>
